---
---

<footer class="text-sm leading-[1.75] mt-4">
  <div>
    &copy; 2026 
    <span
      class="gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#8a2be2] to-[#9d4edd]"
    >
      HIIT Delas
    </span> 
    — Ciência e Performance Feminina.
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
  }

  .gradient-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .gradient-link:after {
    left: 0;
    right: 0;
    bottom: -2px;
    content: "";
    height: 2px;
    position: absolute;
    background: linear-gradient(to right, #8a2be2, #9d4edd);
  }
</style>