---
export interface Props extends astroHTML.HTMLAttributes<"a"> {}

const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;

// Esta linha garante que "/blog/sobre" ou "/blog/sobre/" ativem o link "Sobre"
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #8a2be2; /* Cor roxa */
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
  }
</style>
