---
import HeaderLink from "./HeaderLink.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header>
  <a
    class="unset absolute z-10 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-[initial]"
    href="#main"
  >
    Skip to content
  </a>
  
  <div class="flex items-center gap-6">
    <a href="/" class="unset flex items-center">
      <img src="/logo-completo.png" alt="HIIT Delas Logo" class="h-10 w-auto" />
    </a>

    <nav>
      <section class="text-text-bold">
        <ul class="unset flex gap-4 [&>li]:p-0">
          <li><HeaderLink href="/">Home</HeaderLink></li>
          <li><HeaderLink href="/blog/tags/ciencia/">Ciência</HeaderLink></li>
          <li><HeaderLink href="/blog/tags/treinos/">Treinos</HeaderLink></li>
          <li><HeaderLink href="/blog/sobre">Sobre</HeaderLink></li>
        </ul>
      </section>
    </nav>
  </div>

  <div class="justify-self-end py-2 flex items-center content-center gap-4">
    <section class="hidden md:block text-text-muted text-sm">
       <ul class="unset flex gap-3">
         <li><HeaderLink href="/blog/privacidade">Privacidade</HeaderLink></li>
         <li><HeaderLink href="/blog/contato">Contato</HeaderLink></li>
       </ul>
    </section>
    <DarkModeToggle />
  </div>
</header>

<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content);
    padding: 1rem 0;
  }
</style>
